[user]
	email = roman.zolotarev@veriff.net
	name = Roman Zolotarev
[pull]
	ff = only
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[core]
	excludesfile = /Users/romanzolotarev/.gitignore
[init]
	defaultBranch = master
